body{
    font-family: monospace;
    color:white;
    height: fit-content;
    margin:0px;
    padding:0px;
    background-color: rgb(230, 230, 230);
}

.topbar{
    width:100%;
    height:72px;
    display:flex;
    background-image: linear-gradient(90deg, #8320c4, #ee55d0);
    animation-name: zoom;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    background-position: 100% 100%;
    position:fixed;
    top:0;
}

.center{
    margin-top:84px;
    margin-bottom:5vh;
    width:50%;
    height:fit-content;
    margin-left:25%;
    margin-right:25%;
    background-color:rgb(250, 250, 250);
    color:black;
    box-shadow: 7px 7px 3px darkgray;
    padding-left:3px;
    padding-right:3px;
    border-radius:3px;
}
.center2{
    margin-top:74px;
    margin-bottom:5vh;
    width:256px;
    height:fit-content;
    margin-left:5%;
    margin-right:5%;
    background-color:rgb(250, 250, 250);
    color:black;
    box-shadow: 7px 7px 3px darkgray;
    padding-left:3px;
    padding-right:3px;
    border-radius:3px;
}

.menu{
    background-color:transparent;
    display:flex;
    width:fit-content;
    margin:auto;
}

a{
    text-decoration:none;
    text-decoration-line:none;
    text-decoration-color: white;
    text-decoration-thickness:inhert;
    text-decoration-style: inherit;
    text-emphasis-color: white;
}

button{
    min-width:80px;
    min-height:48px;
    font-size:18px;
    border-radius:7px;
    border-style:solid;
    color:white;
    background-color: rgb(255, 255, 255, 0.1);
    border-color:rgb(255, 255, 255, 0.2);
    margin-left:5%;
    margin-right:5%;
    transition:1s;
}
button:hover{
    background-color:rgb(255, 255, 255, 0.2);
    border-color:rgb(255, 255, 255, 0.5);
    transition:0.5s;
}
button:active{
    background-color:transparent;
    border-color:white;
    color:white;
    transition:1s;
}
.active{
    background-color:transparent;
    border-color:white;
    color:white;
    transition:1s;
}

@keyframes zoom {
    0% {background-size: 100% 100%};
    50% {background-size: 300% 300%};
    100% {background-size: 100% 100%};
}

@media (max-width:35rem)
{
    div
    {
        display:flex-wrap;
    }
    .center2
    {
        width:90%;
    }
}
@media(min-width:35rem)
{
    div
    {
        display:flex;
    }
}